%ol
  - @scrapers.each do |scraper|
    %li
      %a{:href => scraper.path}= scraper.title


- if @page > 1
  %a{:href => "/?page=#{@page - 1}"} Prev
= "Page #{@page} of #{@page_count}"
- if @page < @page_count
  %a{:href => "/?page=#{@page + 1}"} Next
