%table.table.table-hover.browse-list
  %thead
    %tr
      %th Status
      %th Name
      %th Created
      %th Updated
  %tbody
    - @scrapers.each do |scraper|
      %tr
        %td TODO
        %td
          %a.scraper-link{:href => scraper.path}= scraper.title
        %td= scraper.created_at
        %td= scraper.updated_at


- if @page > 1
  %a{:href => "/?page=#{@page - 1}"} Prev
= "Page #{@page} of #{@page_count}"
- if @page < @page_count
  %a{:href => "/?page=#{@page + 1}"} Next
